// .btn {
//   font-size: 30px;
//   text-decoration: none;
//   transition: all 5s;

//   &:hover {
//     font-size: 50px;
//     text-decoration: underline;
//     opacity: 0.2;
//   }
// }

// animation
@keyframes anim1 {
  0% {
    opacity: 0.2;
    // x왼쪽이 -, y 위쪽이 -
    transform: translate(100px, -30px);
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

#box1 {
  animation-name: anim1; //애니메이션 지정
  animation-duration: 5s; // 5초동안
  //animation-fill-mode: forwards; // delay 없을 때 애니메이션 마지막 모습 유지
  //animation-fill-mode: backwards; // delay가 있을 때 0% 에서 시작
  animation-fill-mode: both;
  animation-iteration-count: 3; // 3번 반복
  animation-delay: 3s; // 3초 있다가 시작
}
